.sticky-filter {
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
    .sticky-filter {
        position:-webkit-sticky;
        position: sticky;
        top: 0px; /*calc(100% - 300px);*/
        z-index: 10;
    }

    .sticky-filter-btn {
        position:-webkit-sticky;
        position: sticky;
        top: 90%;
        z-index: 10;
    }
}

.sticky-filter-btn {
    text-align: center;
}

.sticky-filter-btn .btn {
    color: white;
    background-color: black;
    border-color: black;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
}

@media (max-width: 640px) {
    .sticky-filter-btn .btn {
        width: calc(100% - 20px);
        margin-left:10px;
        margin-right:10px;
    }
}

